<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Customer Portal{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/customer_base.css') }}">
    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <div class="customer-dashboard">

        <!-- Sidebar -->
        <aside class="dashboard-sidebar">
            <div class="sidebar_brand">
                <a href="{{ url_for('main.home') }}" class="brand-link">
                <h2>✦ Daha Care </h2>
                <p>Vietnamese shop</p>
                </a>

            </div>

            <nav class="sidebar-nav">
                <a href="{{ url_for('main.customer_dashboard') }}" class="nav-item {% block nav_dashboard %}{% endblock %}">Dashboard</a>
                <a href="{{ url_for('main.my_bookings') }}" class="nav-item {% block nav_bookings %}{% endblock %}">My bookings</a>
                <a href="{{ url_for('main.customer_booking') }}" class="nav-item {% block nav_book_appointment %}{% endblock %}">Book appointment</a>
                <a href="{{ url_for('main.customer_history') }}" class="nav-item {% block nav_history %}{% endblock %}">History</a>
                <a href="{{ url_for('main.customer_setting')}}" class="nav-item {% block nav_setting %}{% endblock %}">Setting</a>
                <form action="{{ url_for('main.logout') }}" method="POST" class="sidebar-logout-form">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <button type="submit" class="nav-item nav-button">Logout</button>
                </form>
            </nav>
        </aside>
        <!-- Main content -->
        <main class="dashboard-main">
            {% block customer_content %}{% endblock %}
        </main>
    </div>
    <!-- nhận gói messages thông qua session từ server và vứt lên frontend render ra -->
<div class="flash-wrapper">
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="flash-{{ category }} auto-dismiss-flash">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}
<script>
document.addEventListener("DOMContentLoaded", function () {
    const flashes = document.querySelectorAll(".auto-dismiss-flash");

    flashes.forEach((flash) => {
        setTimeout(() => {
            flash.classList.add("flash-hide");

            flash.addEventListener("animationend", () => {
                flash.remove();
            }, { once: true });
        }, 3000);
    });
});
</script>
</div>
{% block script %}{% endblock%}
</body>
</html>